.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
}
.header > * {
    display: inline-block;
    font-size: 16px;
}
.navbar {
    background-color: white;
    width:50%;  
}

li {
    font-size: 1.5em;
    display: table-cell;

}
ul {
    width: 50%;

}
